<% include partials/menu %>

<div class="chat-section">
  <div class="ui container grid">
    
    <% include partials/chat-users.ejs %>


  <div class="twelve wide column">

    <!-- Chat Messages -->
    <% include partials/chat-messages.ejs %>

    <hr>

    <!-- Chat Post -->
    [ TODO chat-post ]

  </div>
</div>
</div>

<script type="text/javascript">
  window.onload = function() {
    loadUsers();
    loadMessages();
  }
  </script>